.id {
  background-color: aqua;
}
.card-title {
  display: flex;
  gap: 20px;
  padding: 10px;
  span {
    font-weight: bold;
  }
}
.name {
  background-color: aquamarine;
}
.price{
    background-color: bisque;
}
.count{
    background-color: beige;
}
.sale{
    position: absolute;
    background-color: red;
    top: 10px;
    right: 10px;
    color: white;
    padding: 10px;
}
.btn{
    transition: all 500ms ease-in-out;
}
.card{
    background-color: azure;
}